* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  padding-right: 0 !important;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.Mui-Autocomplete-popper {
  z-index: 1000;
}

.react-tel-input .form-control.MobileVerificationInput {
  width: 100% !important;
  height: 50px !important;
  border-radius: 8px !important;
  border: 2px solid !important;
  border-color: #232027 !important;
  background-color: #100b19 !important;
  color: #86838a !important;
}

.react-tel-input .form-control.EnterCurrentEmailPhone {
  width: 100% !important;
  height: 50px !important;
  border-radius: 8px !important;
  border: 2px solid !important;
  border-color: #232027 !important;
  background-color: #07030e !important;
  color: #86838a !important;
}

.react-tel-input .country-list {
  background-color: #100b19 !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #232027 !important;
}

.form-control.react-tel-input-2 {
  width: 100% !important;
  height: 56px !important;
  border-radius: 4px !important;
  border: 2px solid !important;
}

.react-tel-input .form-control:hover {
  border-color: #86838a !important;
}

.react-tel-input .form-control:focus {
  border-color: #86838a !important;
  box-shadow: none !important;
}

.react-tel-input:focus-within .special-label {
  color: #232027;
}

.phone-error {
  .react-tel-input {
    .form-control,
    .form-control:focus,
    .form-control:hover {
      border-color: red !important;
    }
  }
}

.react-tel-input .special-label {
  font-size: 12px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  margin-left: -11px;
  margin-top: -5px;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* toastify style */
.version2 {
  width: auto;

  .Toastify__toast {
    width: 396px;
    padding: 12px;
    border-radius: 8px;
    gap: 24px;
    align-items: center;
  }

  .Toastify__toast--success {
    background-color: #15250a;
    border: 1px solid #79e028;
    color: #79e028;

    .Toastify__toast-icon {
      background-image: url('/images/NewThemeImages/icons/check-fill.svg');
      background-size: 24px 24px;

      svg {
        display: none;
      }
    }
  }

  .Toastify__toast--error {
    background-color: #2f0909;
    border: 1px solid #e92f2f;
    color: #e92f2f;

    .Toastify__toast-icon svg {
      fill: #e92f2f;
    }
  }

  .Toastify__toast-body {
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    .Toastify__toast-icon {
      width: 24px;
      height: 24px;
      margin-inline-end: 8px;
    }
  }

  .Toastify__close-button {
    align-self: center;
    color: #e9e8eb;
    opacity: 1;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .Toastify__progress-bar {
    display: contents;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

.Stay_logo {
  position: absolute;
  bottom: -70px;
  right: 115px;
}

@media (max-width: 0px) {
  .Stay_logo {
    right: calc(50% - 76px);
  }
}

@media (max-width: 600px) {
  .Stay_logo {
    right: 30px;
  }
}

.react-tel-input .form-control.affiliatePhoneInput {
  width: 100% !important;
  height: 50px !important;
  border-radius: 8px !important;
}

.swiper-wrapper .swiper-slide-Worker {
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  height: fit-content !important;
}

.mySwiper {
  height: 100%;
}
